.contact {
  height: 100vh;
  padding-top: 100px;
  background-color: #5b63ec;
  opacity: 85%;
  text-align: right;
  color: #fff;
  h3 {
    display: block;
    color: #ffc558;
    font-size: 60px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
  }
}
