@import "../assets/style/variable.scss";
.skillList {
  .skillBox {
    height: 270px;
    padding: 0 20vw;
    border-top: 1px solid #000;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
    &:hover h4 {
      color: #fab430;
      opacity: 0.7;
    }
    h4 {
      display: block;
      width: 15vw;
      font-family: $one;
      font-size: 3.125rem;
      text-align: center;
      line-height: 270px;
      margin-right: 150px;
      transition: 0.4s;
    }
    ul {
      width: 100%;
      list-style-type: disc;
      list-style-position: inside;

      li {
        padding-bottom: 15px;
        font-size: 18px;
        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }
}
